h1 class='title'= @sht.title
a href="/edit/#{@sht.id}" edit
br
a href="/delete/#{@sht.id}" delete

div class='wrapper'
  div class='content'
    span id='text-format-toggler' highlighted syntax
    div== @sht.content_markelined


script type='text/javascript' src='/google-code-prettify/prettify.js'
script type='text/javascript' src='/mootools-core-1.4.5.js'
javascript:
  var 
  clippingEl  = $$('div.content div')[0],
  clippingRaw = clippingEl.innerHTML;

  clippingEl.getElements('div.text').each(function(div) {
    div.set('html','<pre class="prettyprint">' + div.innerHTML + '</pre>')
  })
  prettyPrint();
  var clippingPretty = clippingEl.innerHTML;

  $('text-format-toggler').addEvent('click',function(){
    clippingEl.set('html',this.toggleClass('striked').hasClass('striked') ? clippingRaw : clippingPretty);
  });

  var tableOfContents = new Element('ul.table-of-contents');
  clippingEl.getElements('h2, h3, h4').each(function(h){
    ( new Element('li') )
    .adopt( new Element('a',{
        'class' : h.get('tag') + '-anchor',
        text    : h.get('text'),
        href    : '#' + h.id,
    }))
    .inject(tableOfContents);
  })

  $$('div.wrapper')[0].adopt(tableOfContents,'top') 

  console.log(tableOfContents)

