
body {
  background : #F2EC91;
  /*background : #F6F7BD;*/
  color : #400101;
  font-family: 'Questrial',sans-serif;
}

a { color : #027353; }
  a:hover { 
    background : #027353; 
    color: #F2EC91;
  }


h1 {
  float: left;
  font-size: 300%;
  margin: 0 10px;
}
  h1.chtsht a { text-decoration: none; }
  h1.title { color: #D93D04; }

.wrapper {
  clear: both;
}

strong a {
  background: #D93D04;
  color: #F2EC91;
  margin-right: 10px;
  text-decoration: none;
  font-size: 150%;
}
  strong a:hover {
    color: #D93D04;
    background: #F2EC91;
  }




li {
  list-style: none;
  margin-bottom: 10px;
}


.content {
	position: relative;
  background : #F6F7BD;
  border: 4px solid #D93D04;
  margin: 0 10px;
	z-index: 1;
  /*padding-top: 20px;*/
}

  .content h2 {
    margin: 10px -10px;
    background: #027353;
    color: #F2EC91;
    padding: 3px 10px;
  }
  .content h3 {
    margin: 10px;
    border-bottom: 2px solid #027353;
  }
  .content p,
  .content .text { 
    margin: 5px 10px; 
    font-family: monospace;
    white-space: pre-wrap; /* css-3 */
  }

textarea { width: 100%; min-height: 200px; }

#text-format-toggler {
	position: absolute;
	right: -4px;
	top: -24px;
	height: 20px;
	padding: 0 5px;
	font-size: 150%;
	color: #D93D04;
  background : #F6F7BD;
  border: 4px solid #D93D04;
	border-bottom: none;
	z-index: 2;
  cursor: pointer;
}
	.striked { text-decoration: line-through }

pre.prettyprint { border: none !important; }
